# VSS files
*.scc
*.vssscc
*.vspscc

# Temp files
*~$*
*.tmp
*.bak
Thumbs.db

# User files
*.csproj.*
*.sqlproj.*
*.vcxproj.*
*.pubxml.user
*.resharper.user
*.ReSharper.user
*.resharper
*.ReSharper
*.TeamCity.user
*.teamcity.user

!*.csproj.DotSettings

# Visual Studio artifacts
*.dbmdl
src/ipch
src/*.opensdf
src/*.sdf
src/*.VC.opendb
src/*.VC.db
src/*.ide
src/.vs/**/*.cache

# Other
*.suo
*.vsmdi
*.gpState
*.docstates
*.dotCover
_ReSharper*
_TeamCity.*
*.DotSettings.user
*.DotSettings

# tests
[Tt]est[Rr]esults
[Ll]ocal[Tt]est[Rr]un.testrunconfig

# Build output & generated artifacts
_logs
build
out
src/**/bin
src/**/obj
src/**/[Dd]ebug*/
src/**/[Rr]elease*/
src/**/FakesAssemblies
src/**/**/FakesAssemblies
src/**/**/**/FakesAssemblies
!src/**/bin/*.refresh
!src/packages
!src/**/**/bin/*.refresh
