@using Log4JDash.Web.Models
@model LogIndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>List</title>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/my/css/log.css")" />
    </head>
    <body>
        @{
            var query = new LogQuery ();
            var any = false;
        }
        @using (Html.BeginForm (null, null, FormMethod.Get, new { @class = "log-query" }))
        {
            <div>
                @Html.EditorFor(_ => query, null, String.Empty)
            </div>
            <div>
                <input type="submit" value="Искать" />
            </div>
        }
        <ol class="log-list">
            @foreach (var @event in Model.Events)
            {
                any = true;
                @Html.DisplayFor(_ => @event)
            }
        </ol>
        @if (!any)
        {
            <div>Empty!</div>
        }
    </body>
</html>
