@model Log4JDash.Web.Models.LogSourceInput

<div class="editor log-query-source">
    <div class="editor-input">
        @{
            var selectId = Html.IdForModel ();
            var selectName = Html.NameForModel ();
        }
        <select id="@selectId" name="@selectName">
            @foreach (var source in Model.Sources)
            {
                var optionValue = Convert.ToString (source);
                var optionText = source.Id;

                var idComparer = StringComparer.OrdinalIgnoreCase;
                var isSelected = idComparer.Equals (source.Id, Model.Value.Id);
                var optionSelected = isSelected
                    ? Html.Raw (" selected=\"selected\"")
                    : MvcHtmlString.Empty;

                <option value="@optionValue"@optionSelected>@optionText</option>
            }
        </select>
    </div>
</div>
