.editor {
    display: inline-block;
}

.editor > label {
    display: block;
}
.editor > .editor-input {
    display: block;
}

.log-query {
    position: fixed;
    top: 0;
    right: 0;

    background-color: white;

    padding: 0.25em 0.5em;

    border-color: lightgray;
    border-width: 0.1em;
    border-left-style: solid;
    border-bottom-style: solid;
    -ms-border-radius: 0 0 0 0.5em;
    border-radius: 0 0 0 0.5em;
    }

.log-list {
    padding-top: 4.5em;
    list-style-type: none;
    padding-left: 0;
}

.log-item-field {
    display: block;
}

.log-item-collapsed {
    display: none;
}
.log-item-collapse {
    display: inline-block;
    vertical-align: text-top;
}
.log-item-collapse-content {
    display: inline-block;
}

label[for^='log-item-collapsed'] {
    display: inline-block;
    float: left;
    height: 1.2em;
    width: 1.2em;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
label[for^='log-item-collapsed'] .log-item-collapsed-close,
.log-item-collapsed:checked + .log-item-collapse .log-item-collapsed-open {
    display: inline;
}
label[for^='log-item-collapsed'] .log-item-collapsed-open,
.log-item-collapsed:checked + .log-item-collapse .log-item-collapsed-close {
    display: none;
}

.log-item-collapsed:checked + .log-item-collapse .log-item-field {
    display: inline-block;
}

.log-item-collapsed:checked + .log-item-collapse .log-item-field label {
    display: none;
}
.log-item-collapsed:checked + .log-item-collapse .log-item-timestamp::after {
    content: ':';
}
.log-item-collapsed:checked + .log-item-collapse .log-item-logger::before {
    content: '[';
}
.log-item-collapsed:checked + .log-item-collapse .log-item-logger::after {
    content: ']';
}
.log-item-collapsed:checked + .log-item-collapse .log-item-thread,
.log-item-collapsed:checked + .log-item-collapse .log-item-level,
.log-item-collapsed:checked + .log-item-collapse .log-item-throwable * {
    display: none;
}
.log-item-throwable::after {
    content: '[exception]';
    display: none;
}
.log-item-collapsed:checked + .log-item-collapse .log-item-throwable::after {
    display: inline;
}

.log-item-timestamp-date::after {
    content: 'T';
    -ms-opacity: 0.25;
    opacity: 0.25;
}

.log-item-throwable > span {
    white-space: pre-wrap;
}

.log-item-debug {
    background-color: #dddddd;
}
.log-item-info {
    background-color: #bbffbb;
}
.log-item-warn {
    background-color: #ffffbb;
}
.log-item-error {
    background-color: #ffbbbb;
}
.log-item-fatal {
    background-color: #000;
}
.log-item-fatal * {
    color: #fff;
}
