<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="log4JDash">
      <section name="logSourceProvider" type="Log4JDash.Web.Domain.Services.LogSourceProviderSection, Log4JDash.Web" />
      <section name="requireHttps" type="Log4JDash.Web.Mvc.RequireHttpsSection, Log4JDash.Web" />
    </sectionGroup>
  </configSections>

  <log4JDash>
    <logSourceProvider>
      <directories>
        <add name="samples"
             directoryPath="..\Log4JDash"
             filenamePattern=".*\.xml"
             encoding="windows-1251" />
        <add name="a: countDirection=+1, staticLogFileName=true"
             directoryPath="..\_SampleLogs"
             filenamePattern="a_log_s\+1(\.(?&lt;roll_pos&gt;\d+))?\.xml"
             encoding="windows-1251" />
        <add name="b: countDirection=+1, staticLogFileName=false"
             directoryPath="..\_SampleLogs"
             filenamePattern="b_log_d\+1(\.(?&lt;roll_pos&gt;\d+))?\.xml"
             encoding="windows-1251" />
        <add name="c: countDirection=-1, staticLogFileName=true"
             directoryPath="..\_SampleLogs"
             filenamePattern="c_log_s-1(\.(?&lt;roll_neg&gt;\d+))?\.xml"
             encoding="windows-1251" />
        <add name="d: countDirection=-1, staticLogFileName=false"
             directoryPath="..\_SampleLogs"
             filenamePattern="d_log_d-1(\.(?&lt;roll_neg&gt;\d+))?\.xml"
             encoding="windows-1251" />
        <add name="e: date, rollover - positive"
             directoryPath="..\_SampleLogs"
             filenamePattern="e_log_(?&lt;date&gt;\d{4}-\d{2}-\d{2})(\.(?&lt;roll_pos&gt;\d+))?\.xml"
             dateFormat="yyyy-MM-dd"
             encoding="windows-1251" />
        <add name="missing-directory"
             directoryPath="A:\no\such\directory\exists"
             filenamePattern=".*\.xml" />
      </directories>
    </logSourceProvider>

    <requireHttps allowHttp="false" httpsPort="44385" />
  </log4JDash>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <security>
      <!--
        Please note that overriding <ipSecurity> section at application level is disabled by
        default in IIS. Refer to Feature Delegation documentation to learn how to allow section
        overriding at application level or define IP filters at a higher level.

        On IIS Express you typically have to find <ipSecurity> section definition in
        applicationhost.config file located in (solution folder)\.vs\config\applicationhost.config
        and change overrideModeDefault attribute value to "Allow".
      -->
      <!--
        denyAction attribute is supported on IIS 8.0 and newer. Please remove this attribute to
        deploy on an earlier version of IIS.
      -->
      <ipSecurity allowUnlisted="false" denyAction="NotFound">
        <add ipAddress="127.0.0.1" allowed="true" />
        <add ipAddress="::1" allowed="true" />
      </ipSecurity>
    </security>
  </system.webServer>
</configuration>
